svg {
  width: 250mm;
}




circle.c0{
/* dient dazu, ein zunächst unsichtbares Adatomgitter zu schreiben */
	stroke:rgb(0,0,0);
	fill:rgb(255,0,0);
	opacity:0.0;
}


circle.c1{
   /* stroke:rgb(0,0,0); */
    fill:rgb(0,0,0);
    opacity:1.0:
}

circle.c2{
   /* stroke:rgb(145,42,42); */
    fill:rgb(145,42,42);
    opacity:1.0:
}

circle.c3{
   /* stroke:rgb(194,34,11); */
    fill:rgb(194,34,11);
    opacity:1.0:
}

circle.c4{
   /* stroke:rgb(244,34,11); */
    fill:rgb(244,34,11);
    opacity:1.0:
}

circle.c5{
   /* stroke:rgb(255,44,84); */
    fill:rgb(255,44,84);
    opacity:1.0:
}

circle.c6{
    /* stroke:rgb(255,114,0); */
    fill:rgb(255,114,0);
    opacity:1.0:
}

circle.c7{
    /* stroke:rgb(255,165,0); */
    fill:rgb(255,165,0);
    opacity:1.0:
}

circle.c8{
    /* stroke:rgb(218,165,32); */
    fill:rgb(218,165,32);
    opacity:1.0:
}

circle.c9{
   /* stroke:rgb(255,215,0); */
    fill:rgb(255,215,0);
    opacity:1.0:
}






.B_circle {stroke:rgb(0,0,0);
    stroke-width:0.1;
    fill:rgb(0,0,0);
    opacity:1.0;
}


.B_line {
	/* necessary for the parallelogramm */
	stroke:rgb(0,0,0);
	stroke-width:0.1;
    fill:rgb(0,0,0);
    opacity:1.0;
}





.C_circle {
	stroke:rgb(128,128,128);
    stroke-width:0.1;
    fill:rgb(128,128,128);
    opacity:1.0;}


.C_line {
	/* necessary for the parallelogramm */
	stroke:rgb(128,128,128);
    stroke-width:0.1;
    fill:rgb(128,128,128);
    opacity:1.0;}






.start_position_circle {stroke:rgb(0,0,255);
    stroke-width:0.1;
    fill:rgb(255,255,255);
    opacity:1.0;}

.actual_position_circle {stroke:rgb(0,0,0);
    stroke-width:0.1;
    fill:rgb(255,255,255);
    opacity:1.0;}

.legend_text{
    font-size:4.0pt;
    font-weight:bold;
    font-family:sans-serif;
    
}

.legend_circle{
	stroke-width:0.4;
    
}



